--index-url https://download.pytorch.org/whl/cu128
--extra-index-url https://pypi.org/simple

torch==2.8.0+cu128
torchvision==0.23.0+cu128
torchaudio==2.8.0+cu128

safetensors>=0.4.5
numpy>=2.0.0,<3.0.0
packaging>=24.0
pillow>=10.0.0

accelerate>=0.30.0
transformers>=4.40.0
huggingface_hub>=0.23.0
tqdm>=4.66.0
einops>=0.7.0
toml>=0.10.2
scipy>=1.13.0
diffusers>=0.27.0
imagesize>=1.4.1
opencv-python>=4.9.0
peft>=0.17.0
lycoris-lora
voluptuous>=0.14.2
sentencepiece>=0.2.0
protobuf>=4.25.0

tensorboard>=2.16.0
matplotlib>=3.9.0
came-pytorch>=0.1.3